Repository mdxvision/mdx-vision-enterprise: changes, and which Codecov flags are due for each by the changed paths.
All: python, web, java, android

codecov.yml:

# Codecov Configuration
# https://docs.codecov.com/docs/codecov-yaml

coverage:
  precision: 2
  round: down
  range: "60...100"

  status:
    project:
      default:
        target: auto
        threshold: 5%
        informational: true
    patch:
      default:
        target: 80%
        informational: true

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment:
  layout: "reach,diff,flags,files"
  behavior: default
  require_changes: no
  require_base: no
  require_head: yes

flags:
  python:
    paths:
      - ehr-proxy/
      - ai-service/
    carryforward: true

  web:
    paths:
      - web/src/
    carryforward: true

  java:
    paths:
      - backend/src/
    carryforward: true

  android:
    paths:
      - mobile/android/
    carryforward: true

docs: add Vuzix HUD integration to Minerva Phase 3 docs
  CLAUDE.md
  FEATURES.md
  MINERVA.md
Due: none

fix(android): show button grid on Vuzix - voice recognition conflict
  mobile/android/app/src/main/java/com/mdxvision/MainActivity.kt
Due: android

Revert "fix(android): show button grid on Vuzix - voice recognition conflict"
  mobile/android/app/src/main/java/com/mdxvision/MainActivity.kt
Due: android

fix(android): voice command fixes for Vuzix - JIT limit workaround
  ehr-proxy/main.py
  ehr-proxy/transcription.py
  mobile/android/app/src/main/java/com/mdxvision/AudioStreamingService.kt
  mobile/android/app/src/main/java/com/mdxvision/MainActivity.kt
Due: python, android

Add comprehensive tests for medical_vocabulary and voiceprint modules
  ehr-proxy/tests/test_medical_vocabulary.py
  ehr-proxy/tests/test_voiceprint_comprehensive.py
Due: python

Add comprehensive transcription tests for WebSocket providers
  ehr-proxy/tests/test_transcription_comprehensive.py
Due: python

Add comprehensive utility function tests for main.py
  ehr-proxy/tests/test_main_utils.py
Due: python

Add comprehensive KnowledgeManager and ScheduledUpdateManager tests
  ehr-proxy/tests/test_rag_knowledge_manager.py
Due: python

Add comprehensive API and auth module tests
  ehr-proxy/tests/test_api_comprehensive.py
  ehr-proxy/tests/test_auth_comprehensive.py
Due: python

Add extended main.py tests for equity and clinical features
  ehr-proxy/tests/test_main_extended.py
Due: python

Fix voice commands: enable RNNoise noise reduction, reduce gain to 10x
  mobile/android/app/src/main/java/com/mdxvision/AudioStreamingService.kt
  mobile/android/app/src/main/java/com/mdxvision/MainActivity.kt
Due: android

Add comprehensive tests for transcription sessions and RAG data models
  ehr-proxy/tests/test_rag_extended.py
  ehr-proxy/tests/test_transcription_sessions.py
Due: python

Add comprehensive voiceprint extended tests
  ehr-proxy/tests/test_voiceprint_extended.py
Due: python

Add comprehensive main.py helper and endpoint tests
  ehr-proxy/tests/test_main_helpers.py
Due: python

Add comprehensive test coverage for clinical safety, auth, transcription, and voiceprint
  ehr-proxy/tests/test_main_auth_endpoints.py
  ehr-proxy/tests/test_main_clinical_safety.py
  ehr-proxy/tests/test_transcription_providers.py
  ehr-proxy/tests/test_voiceprint_biometrics.py
Due: python

Fix Cerner voice command recognition with fuzzy matching
  mobile/android/app/src/main/java/com/mdxvision/AudioStreamingService.kt
  mobile/android/app/src/main/java/com/mdxvision/MainActivity.kt
Due: android

Add comprehensive tests to increase coverage to 87% (1600+ tests)
  ehr-proxy/tests/test_api.py
  ehr-proxy/tests/test_main_equity_features.py
  ehr-proxy/tests/test_main_fhir_extraction.py
  ehr-proxy/tests/test_main_worklist_billing.py
  ehr-proxy/tests/test_rag_knowledge_complete.py
  ehr-proxy/tests/test_worklist_crud.py
Due: python

Add transcription WebSocket and voiceprint complete tests (75+ new tests)
  ehr-proxy/tests/test_transcription_websocket.py
  ehr-proxy/tests/test_voiceprint_complete.py
Due: python

Add exhaustive test coverage for auth, RAG, models, endpoints, and helpers
  ehr-proxy/main.py
  ehr-proxy/tests/test_all_endpoints_exhaustive.py
  ehr-proxy/tests/test_all_models_exhaustive.py
  ehr-proxy/tests/test_auth_exhaustive.py
  ehr-proxy/tests/test_helper_functions_exhaustive.py
  ehr-proxy/tests/test_rag_exhaustive.py
Due: python

Add comprehensive tests for transcription and voiceprint modules
  ehr-proxy/tests/test_transcription_100_coverage.py
  ehr-proxy/tests/test_voiceprint_100_coverage.py
Due: python

Fix CI workflow: remove invalid secrets check in if condition
  .github/workflows/ci.yml
Due: none

Add Maven wrapper for CI builds
  backend/.mvn/wrapper/maven-wrapper.properties
  backend/mvnw
Due: none

Fix test mock to return valid SOAP JSON structure
  ai-service/tests/test_api.py
Due: python

Fix test to use SOAP noteType for proper response model
  ai-service/tests/test_api.py
Due: python

Add Spring WebFlux dependency for WebClient
  backend/pom.xml
Due: none

Add Observation cast to FHIR create response
  backend/src/main/java/com/mdxvision/fhir/EpicFhirService.java
Due: java

Add comprehensive tests for main.py and rag.py modules (100+ tests)
  ehr-proxy/tests/test_main_100_coverage.py
  ehr-proxy/tests/test_rag_100_coverage.py
Due: python

Fix Java backend test compilation errors
  backend/src/test/java/com/mdxvision/controller/SessionControllerTest.java
  backend/src/test/java/com/mdxvision/fhir/CernerFhirServiceTest.java
Due: java

Fix Python AI service test mocking strategy
  ai-service/tests/test_api.py
Due: python

Add Mockito dependency for Android unit tests
  mobile/android/app/build.gradle
Due: android

Fix CI test failures across all platforms
  ai-service/tests/test_api.py
  backend/src/test/java/com/mdxvision/config/TestSecurityConfig.java
  backend/src/test/java/com/mdxvision/controller/SessionControllerTest.java
  mobile/android/app/src/test/java/com/mdxvision/AudioStreamingServiceTest.kt
  mobile/android/app/src/test/java/com/mdxvision/BarcodeScannerActivityTest.kt
  mobile/android/app/src/test/java/com/mdxvision/MainActivityTest.kt
Due: python, java, android

Fix CI test failures across Python, Java, and Android
  ai-service/tests/conftest.py
  ai-service/tests/test_api.py
  backend/src/test/java/com/mdxvision/config/TestSecurityConfig.java
  backend/src/test/java/com/mdxvision/controller/SessionControllerTest.java
  backend/src/test/java/com/mdxvision/fhir/CernerFhirServiceTest.java
  backend/src/test/java/com/mdxvision/service/AuditServiceTest.java
Due: python, java

Fix CI test failures with improved mocking strategy
  ai-service/tests/conftest.py
  backend/src/test/java/com/mdxvision/controller/SessionControllerTest.java
Due: python, java

Add explicit exclusion for custom SecurityConfig class
  backend/src/test/java/com/mdxvision/controller/SessionControllerTest.java
Due: java

Rewrite SessionControllerTest to use standalone MockMvc
  backend/src/test/java/com/mdxvision/controller/SessionControllerTest.java
Due: java

Fix Python tests: use single shared mock for OpenAI/AzureOpenAI
  ai-service/tests/conftest.py
Due: python

Fix actual code bugs exposed by tests
  ai-service/app/routers/drugs.py
  ai-service/tests/conftest.py
Due: python

Fix Python test StopIteration and notes endpoint response model
  ai-service/app/routers/notes.py
  ai-service/tests/conftest.py
Due: python

Add real integration tests for E2E validation
  backend/src/test/java/com/mdxvision/integration/CernerFhirIntegrationTest.java
  ehr-proxy/tests/test_integration_real_services.py
  mobile/android/app/build.gradle
  mobile/android/app/src/androidTest/java/com/mdxvision/EndToEndIntegrationTest.kt
Due: python, java, android

Update Lombok to 1.18.34 for Java 17 compatibility
  backend/pom.xml
Due: none
