Repository mdxvision/mdx-vision-enterprise: changes, and which Codecov flags are due for each by the changed paths.
All: python, web, java, android

codecov.yml:

# Codecov Configuration
# https://docs.codecov.com/docs/codecov-yaml

coverage:
  precision: 2
  round: down
  range: "60...100"

  status:
    project:
      default:
        target: auto
        threshold: 5%
        informational: true
    patch:
      default:
        target: 80%
        informational: true

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment:
  layout: "reach,diff,flags,files"
  behavior: default
  require_changes: no
  require_base: no
  require_head: yes

flags:
  python:
    paths:
      - ehr-proxy/
      - ai-service/
    carryforward: true

  web:
    paths:
      - web/src/
    carryforward: true

  java:
    paths:
      - backend/src/
    carryforward: true

  android:
    paths:
      - mobile/android/
    carryforward: true

Fix #16: Implement API rate limiting (OWASP API4:2023)
  ehr-proxy/.env.example
  ehr-proxy/main.py
  ehr-proxy/requirements.txt
  ehr-proxy/tests/test_rate_limiting.py
Due: python

Fix #30: Sanitize error messages to prevent information disclosure
  ehr-proxy/error_handling.py
  ehr-proxy/main.py
  ehr-proxy/tests/test_error_sanitization.py
Due: python

Fix #91: Enhance CSP and add security headers tests
  ehr-proxy/main.py
  ehr-proxy/tests/test_security_headers.py
Due: python

Fix #108: Add FHIR R4 AuditEvent logging for PHI access
  ehr-proxy/fhir_audit.py
  ehr-proxy/main.py
  ehr-proxy/tests/test_fhir_audit.py
Due: python

fix: handle ALL gateway errors (502/503/504) in ALL Cerner integration tests
  backend/src/test/java/com/mdxvision/integration/CernerFhirIntegrationTest.java
Due: java

Fix #97: Implement HMAC-SHA256 request signing for device authentication
  ehr-proxy/main.py
  ehr-proxy/request_signing.py
  ehr-proxy/tests/test_request_signing.py
Due: python

Fix #96: Implement lightweight API Gateway with circuit breaker
  ehr-proxy/api_gateway.py
  ehr-proxy/tests/test_api_gateway.py
Due: python

Fix #65: Implement OAuth2 token refresh mechanism
  ehr-proxy/main.py
  ehr-proxy/tests/test_token_refresh.py
  ehr-proxy/token_refresh.py
Due: python

feat(security): Add PHI field-level encryption (Issue #49)
  ehr-proxy/main.py
  ehr-proxy/phi_encryption.py
  ehr-proxy/tests/test_phi_encryption.py
Due: python

feat(security): Add searchable encryption, rate limiting, audit logging (Issue #50)
  ehr-proxy/.gitignore
  ehr-proxy/main.py
  ehr-proxy/phi_encryption.py
  ehr-proxy/tests/test_phi_encryption.py
Due: python

docs(security): Add security audit preparation document (Issue #93)
  docs/SECURITY_AUDIT_PREP.md
Due: none

fix(backend): Replace Lombok SNAPSHOT and remove blocking calls (#41, #42)
  backend/pom.xml
  backend/src/main/java/com/mdxvision/controller/EncounterController.java
Due: java

fix(ehr-proxy): Add TTL-based session cleanup to prevent memory leaks (#10)
  ai-service/app/routers/transcription.py
  ehr-proxy/main.py
  ehr-proxy/session_manager.py
  ehr-proxy/tests/test_session_manager.py
  ehr-proxy/transcription.py
Due: python

feat(ehr-proxy): Add FHIR API retry logic with exponential backoff (#24)
  ehr-proxy/fhir_retry.py
  ehr-proxy/main.py
  ehr-proxy/requirements.txt
  ehr-proxy/tests/test_fhir_retry.py
Due: python

feat(ehr-proxy): Add critical value alert system with Minerva voice announcements (#105)
  ehr-proxy/critical_alerts.py
  ehr-proxy/main.py
  ehr-proxy/tests/test_critical_alerts.py
Due: python

feat(ehr-proxy): Add differential diagnosis with RAG - "Minerva, what do you think?" (#116)
  ehr-proxy/differential_diagnosis.py
  ehr-proxy/main.py
  ehr-proxy/tests/test_differential_diagnosis.py
Due: python

fix(ehr-proxy): Add built-in clinical guidelines fallback for differential diagnosis
  ehr-proxy/differential_diagnosis.py
Due: python

fix(ehr-proxy): Fix NameError in lifespan - replace logger with print
  ehr-proxy/main.py
Due: python

feat(ehr-proxy): Add Tier 1 knowledge sources - OpenFDA, ClinicalTrials.gov, RxNorm
  ehr-proxy/main.py
  ehr-proxy/rag.py
  ehr-proxy/tests/test_tier1_knowledge_sources.py
Due: python

feat(ehr-proxy): Add ChromaDB Docker support with HTTP client fallback
  ehr-proxy/docker-compose.yml
  ehr-proxy/rag.py
Due: python

fix(ehr-proxy): Fix slowapi request param bug and add RAG auto-init on startup
  ehr-proxy/main.py
Due: python

fix(demo): M0 stability - CORS, Epic mock data, CRUD demo fallback
  ehr-proxy/main.py
Due: python

feat(macros): Add Nuance-style Voice Macros (Feature #99)
  docs/development/VOICE_MACROS.md
  ehr-proxy/main.py
Due: python

feat(android): Extract VoiceCommandParser from MainActivity (Issue #31)
  mobile/android/app/src/main/java/com/mdxvision/voice/VoiceCommandParser.kt
  mobile/android/app/src/test/java/com/mdxvision/voice/VoiceCommandParserTest.kt
Due: android

feat(android): Extract AudioRecordingManager from MainActivity (Issue #35)
  mobile/android/app/src/main/java/com/mdxvision/audio/AudioRecordingManager.kt
  mobile/android/app/src/test/java/com/mdxvision/audio/AudioRecordingManagerTest.kt
Due: android

fix(android): Fix unit tests for VoiceCommandParser
  mobile/android/app/build.gradle
  mobile/android/app/src/main/java/com/mdxvision/voice/VoiceCommandParser.kt
Due: android

feat(ehr-proxy): Add structured logging with correlation IDs (Issue #90)
  ehr-proxy/main.py
  ehr-proxy/requirements.txt
  ehr-proxy/structured_logging.py
Due: python

chore(android): Remove unused Volley dependency (Issue #43)
  mobile/android/app/build.gradle
  mobile/android/app/src/main/java/com/mdxvision/MainActivity.kt
Due: android

chore(mobile): Remove unused audio libraries (Issue #47)
  mobile/package.json
Due: none

test(ehr-proxy): Add WebSocket connection leak tests (Issue #58)
  ehr-proxy/tests/test_websocket_leak_detection.py
Due: python

test(ehr-proxy): Add WebSocket integration tests for transcription (Issue #38)
  ehr-proxy/tests/test_websocket_integration.py
Due: python

feat: Enable pre-commit hooks for code quality (Issue #41)
  ehr-proxy/transcription.py
  mobile/android/app/src/main/java/com/mdxvision/AudioStreamingService.kt
  mobile/android/app/src/main/java/com/mdxvision/MainActivity.kt
Due: python, android

feat(web): Add Health Equity Alerts panel to worklist dashboard
  docs/DEMO_CHECKLIST.md
  web/src/app/dashboard/worklist/page.tsx
Due: web
