Repository mdxvision/mdx-vision-enterprise: changes, and which Codecov flags are due for each by the changed paths.
All: python, web, java, android

Add JDK compiler module opens for Lombok/Java 17 compatibility
  backend/pom.xml
Due: none

Use Lombok edge-SNAPSHOT for Java 17.0.17 compatibility
  backend/pom.xml
Due: none

Increase Android E2E test timeout for AR glasses
  mobile/android/app/src/androidTest/java/com/mdxvision/EndToEndIntegrationTest.kt
Due: android

Add comprehensive voice command tests (350+) and fix documentation
  CLAUDE.md
  CONVERSATIONS.md
  FEATURES.md
  TESTING.md
  mobile/android/app/src/test/java/com/mdxvision/VoiceCommandsComprehensiveTest.kt
Due: android

Add CodeRabbit AI code review configuration
  .coderabbit.yaml
Due: none

Add clinical utility functions (BMI, temp conversion, eGFR)
  ehr-proxy/utils.py
Due: python

Fix CodeRabbit config: collapse_walkthrough should be boolean
  .coderabbit.yaml
Due: none

Apply CodeRabbit suggestions: add input validation
  ehr-proxy/utils.py
Due: python

Fix test failures and rag.py status/priority bug
  ehr-proxy/rag.py
  ehr-proxy/tests/test_api.py
  ehr-proxy/tests/test_auth_unit.py
  ehr-proxy/tests/test_integration_real_services.py
  ehr-proxy/tests/test_main_100_coverage.py
  ehr-proxy/tests/test_main_endpoints.py
  ehr-proxy/tests/test_transcription.py
  ehr-proxy/tests/test_transcription_100_coverage.py
  ehr-proxy/tests/test_transcription_comprehensive.py
  ehr-proxy/tests/test_transcription_unit.py
Due: python

Fix rag.py AttributeError: handle both Enum and string status/priority values
  ehr-proxy/rag.py
Due: python

Fix EHR integration tests: add FHIR Accept header
  ehr-proxy/tests/test_integration_ehr.py
Due: python

Refactor E2E tests to API-based (voice-first UI) + add manual testing checklist
  CLAUDE.md
  CONVERSATIONS.md
  FEATURES.md
  MANUAL_TESTING_CHECKLIST.md
  TESTING.md
  mobile/android/app/src/androidTest/java/com/mdxvision/AciIntegrationTest.kt
  mobile/android/app/src/androidTest/java/com/mdxvision/AmbientClinicalIntelligenceTest.kt
  mobile/android/app/src/androidTest/java/com/mdxvision/MainActivityTest.kt
  mobile/android/app/src/androidTest/java/com/mdxvision/PatientVisitWorkflowTest.kt
Due: android

Add 68 multi-language voice command translation tests
  mobile/android/app/src/test/java/com/mdxvision/MainActivityTest.kt
  mobile/android/app/src/test/java/com/mdxvision/VoiceCommandsComprehensiveTest.kt
Due: android

Add single-word keyword aliases for Spanish and Russian voice commands
  mobile/android/app/src/main/java/com/mdxvision/MainActivity.kt
  mobile/android/app/src/test/java/com/mdxvision/VoiceCommandsComprehensiveTest.kt
Due: android

Add multi-language keyword tests to manual testing checklist
  MANUAL_TESTING_CHECKLIST.md
Due: none

cleanup markdown files, delete unnecessary ones, etc
  CLAUDE.md
  docs/FINANCIAL-MODEL-R6-FULL-EXPORT.md
  docs/README.md
  docs/RESTRUCTURING_RECOMMENDATIONS.md
  docs/archived/DEMO_CSUITE.md
  docs/archived/INTERNAL_COMPETITIVE_ANALYSIS.md
  docs/business/FINANCIAL-MODEL-R6-SUMMARY.md
  docs/business/GAP_CLOSURE_PLAN.md
  docs/business/INVESTOR.md
  docs/business/MDX_VISION_CAPABILITY_STATEMENT.md
  docs/business/MDX_VISION_ONESHEET.md
  docs/business/PRICING.md
  docs/business/SALES_MATERIALS.md
  docs/business/STRATEGIC_ROADMAP.md
  docs/clinical/CULTURAL_CARE_PREFERENCES.md
  docs/clinical/RACIAL_MEDICINE_DISPARITIES.md
  docs/development/API_REFERENCE.md
  docs/development/ARCHITECTURE.md
  docs/development/FEATURES.md
  docs/development/MANUAL_TESTING_CHECKLIST.md
  docs/development/MINERVA.md
  docs/development/TESTING.md
  docs/development/TEST_COVERAGE_PLAN.md
  docs/development/VOICE_COMMANDS.md
  docs/development/VOICE_INTENTS.md
  docs/ehr/EHR_ACCESS_GUIDE.md
  docs/ehr/EHR_AGGREGATOR_PLATFORMS.md
  docs/ehr/EHR_AMBULATORY_RESEARCH.md
  docs/ehr/EHR_IMPLEMENTATIONS.md
  docs/ehr/INTERNATIONAL_EHR_EXPANSION.md
  docs/planning/CONVERSATIONS.md
  docs/planning/JARVIS_FEATURES_PLAN.md
  docs/planning/MDX_GLASSES_PRD.md
  docs/planning/MDX_V2_FEATURES.md
  findings.md
  progress.md
  task_plan.md
Due: none

claude.md update
  CLAUDE.md
  docs/development/SETUP.md
Due: none

another round of docs updates
  docs/RESTRUCTURING_RECOMMENDATIONS.md
  docs/archived/JARVIS_FEATURES_PLAN.md
  docs/archived/MDX_V2_FEATURES.md
  docs/archived/TEST_COVERAGE_PLAN.md
  docs/business/COMPETITIVE_ANALYSIS.md
  docs/business/DEMOS.md
  docs/ehr/README.md
  docs/planning/ARCHITECTURE_DECISIONS.md
  docs/planning/CUSTOM_HARDWARE_PRD.md
Due: none

Switch mobile wake word to Minerva and update tests
  AGENTS.md
  RELEASE_NOTES.md
  VUZIX_MINERVA_CHECKLIST.md
  docs/archived/TEST_COVERAGE_PLAN.md
  docs/development/MANUAL_TESTING_CHECKLIST.md
  docs/development/TESTING.md
  ehr-proxy/tests/test_integration_real_services.py
  mobile/android/app/src/main/java/com/mdxvision/MainActivity.kt
  mobile/android/app/src/main/java/com/mdxvision/QrPairingActivity.kt
  mobile/android/app/src/main/java/com/mdxvision/VuzixHudService.kt
  mobile/android/app/src/main/res/values/strings.xml
  mobile/android/app/src/test/java/com/mdxvision/MainActivityTest.kt
  mobile/android/app/src/test/java/com/mdxvision/VoiceCommandParserTest.kt
  mobile/android/app/src/test/java/com/mdxvision/VoiceCommandsComprehensiveTest.kt
  mobile/app.json
  mobile/rayban-companion/android/app/src/main/AndroidManifest.xml
  mobile/rayban-companion/android/app/src/main/java/com/mdxvision/rayban/RayBanCompanionActivity.kt
  mobile/rayban-companion/android/app/src/main/res/layout/activity_main.xml
  mobile/rayban-companion/android/app/src/main/res/values/strings.xml
Due: python, android

Add hospital demo: worklist page, multi-EHR support, Minerva dashboard
  docs/DEMO_CHECKLIST.md
  ehr-proxy/main.py
  web/src/app/dashboard/worklist/page.tsx
  web/src/components/dashboard/MinervaChat.tsx
  web/src/components/layout/Sidebar.tsx
Due: python, web

chore: stop tracking Android Gradle artifacts
  .gitignore
  mobile/android/.gradle/8.6/checksums/checksums.lock
  mobile/android/.gradle/8.6/checksums/md5-checksums.bin
  mobile/android/.gradle/8.6/checksums/sha1-checksums.bin
  mobile/android/.gradle/8.6/dependencies-accessors/423f0288fa7dffe069445ffa4b72952b4629a15a/classes/org/gradle/accessors/dm/LibrariesForLibs$AndroidGradleLibraryAccessors.class
  mobile/android/.gradle/8.6/dependencies-accessors/423f0288fa7dffe069445ffa4b72952b4629a15a/classes/org/gradle/accessors/dm/LibrariesForLibs$AndroidLibraryAccessors.class
  mobile/android/.gradle/8.6/dependencies-accessors/423f0288fa7dffe069445ffa4b72952b4629a15a/classes/org/gradle/accessors/dm/LibrariesForLibs$BundleAccessors.class
  mobile/android/.gradle/8.6/dependencies-accessors/423f0288fa7dffe069445ffa4b72952b4629a15a/classes/org/gradle/accessors/dm/LibrariesForLibs$KotlinGradleLibraryAccessors.class
  mobile/android/.gradle/8.6/dependencies-accessors/423f0288fa7dffe069445ffa4b72952b4629a15a/classes/org/gradle/accessors/dm/LibrariesForLibs$KotlinLibraryAccessors.class
  mobile/android/.gradle/8.6/dependencies-accessors/423f0288fa7dffe069445ffa4b72952b4629a15a/classes/org/gradle/accessors/dm/LibrariesForLibs$KotlinPluginAccessors.class
  mobile/android/.gradle/8.6/dependencies-accessors/423f0288fa7dffe069445ffa4b72952b4629a15a/classes/org/gradle/accessors/dm/LibrariesForLibs$PluginAccessors.class
  mobile/android/.gradle/8.6/dependencies-accessors/423f0288fa7dffe069445ffa4b72952b4629a15a/classes/org/gradle/accessors/dm/LibrariesForLibs$VersionAccessors.class
  mobile/android/.gradle/8.6/dependencies-accessors/423f0288fa7dffe069445ffa4b72952b4629a15a/classes/org/gradle/accessors/dm/LibrariesForLibs.class
  mobile/android/.gradle/8.6/dependencies-accessors/423f0288fa7dffe069445ffa4b72952b4629a15a/classes/org/gradle/accessors/dm/LibrariesForLibsInPluginsBlock$AndroidGradleLibraryAccessors.class
  mobile/android/.gradle/8.6/dependencies-accessors/423f0288fa7dffe069445ffa4b72952b4629a15a/classes/org/gradle/accessors/dm/LibrariesForLibsInPluginsBlock$AndroidLibraryAccessors.class
  mobile/android/.gradle/8.6/dependencies-accessors/423f0288fa7dffe069445ffa4b72952b4629a15a/classes/org/gradle/accessors/dm/LibrariesForLibsInPluginsBlock$BundleAccessors.class
  mobile/android/.gradle/8.6/dependencies-accessors/423f0288fa7dffe069445ffa4b72952b4629a15a/classes/org/gradle/accessors/dm/LibrariesForLibsInPluginsBlock$KotlinGradleLibraryAccessors.class
  mobile/android/.gradle/8.6/dependencies-accessors/423f0288fa7dffe069445ffa4b72952b4629a15a/classes/org/gradle/accessors/dm/LibrariesForLibsInPluginsBlock$KotlinLibraryAccessors.class
  mobile/android/.gradle/8.6/dependencies-accessors/423f0288fa7dffe069445ffa4b72952b4629a15a/classes/org/gradle/accessors/dm/LibrariesForLibsInPluginsBlock$KotlinPluginAccessors.class
  mobile/android/.gradle/8.6/dependencies-accessors/423f0288fa7dffe069445ffa4b72952b4629a15a/classes/org/gradle/accessors/dm/LibrariesForLibsInPluginsBlock$PluginAccessors.class
  mobile/android/.gradle/8.6/dependencies-accessors/423f0288fa7dffe069445ffa4b72952b4629a15a/classes/org/gradle/accessors/dm/LibrariesForLibsInPluginsBlock$VersionAccessors.class
  mobile/android/.gradle/8.6/dependencies-accessors/423f0288fa7dffe069445ffa4b72952b4629a15a/classes/org/gradle/accessors/dm/LibrariesForLibsInPluginsBlock.class
  mobile/android/.gradle/8.6/dependencies-accessors/423f0288fa7dffe069445ffa4b72952b4629a15a/metadata.bin
  mobile/android/.gradle/8.6/dependencies-accessors/423f0288fa7dffe069445ffa4b72952b4629a15a/sources/org/gradle/accessors/dm/LibrariesForLibs.java
  mobile/android/.gradle/8.6/dependencies-accessors/423f0288fa7dffe069445ffa4b72952b4629a15a/sources/org/gradle/accessors/dm/LibrariesForLibsInPluginsBlock.java
  mobile/android/.gradle/8.6/dependencies-accessors/gc.properties
  mobile/android/.gradle/8.6/executionHistory/executionHistory.bin
  mobile/android/.gradle/8.6/executionHistory/executionHistory.lock
  mobile/android/.gradle/8.6/fileChanges/last-build.bin
  mobile/android/.gradle/8.6/fileHashes/fileHashes.bin
  mobile/android/.gradle/8.6/fileHashes/fileHashes.lock
  mobile/android/.gradle/8.6/fileHashes/resourceHashesCache.bin
  mobile/android/.gradle/8.6/gc.properties
  mobile/android/.gradle/buildOutputCleanup/buildOutputCleanup.lock
  mobile/android/.gradle/buildOutputCleanup/cache.properties
  mobile/android/.gradle/buildOutputCleanup/outputFiles.bin
  mobile/android/.gradle/file-system.probe
  mobile/android/.gradle/vcs-1/gc.properties
Due: android

chore: ignore local Python virtual environments
  .gitignore
Due: none

Add drone voice control module with rule-based NLP parser
  ehr-proxy/drone/__init__.py
  ehr-proxy/drone/adapters.py
  ehr-proxy/drone/models.py
  ehr-proxy/drone/parser.py
  ehr-proxy/drone/policy.py
  ehr-proxy/drone/routes.py
  ehr-proxy/main.py
  ehr-proxy/tests/test_drone_voice_control.py
  ehr-proxy/tools/__init__.py
  ehr-proxy/tools/drone_simulator.py
Due: python

Add mobile/Vuzix client for drone voice control
  mobile/android/app/src/main/AndroidManifest.xml
  mobile/android/app/src/main/java/com/mdxvision/MainActivity.kt
  mobile/android/app/src/main/java/com/mdxvision/drone/DroneApiClient.kt
  mobile/android/app/src/main/java/com/mdxvision/drone/DroneControlActivity.kt
  mobile/android/app/src/main/java/com/mdxvision/drone/DroneFeatureFlag.kt
  mobile/android/app/src/main/java/com/mdxvision/drone/DroneModels.kt
  mobile/android/app/src/main/res/layout/activity_drone_control.xml
  mobile/android/app/src/test/java/com/mdxvision/drone/DroneModelsTest.kt
Due: android

Fix glasses app startup bugs & add demo improvements
  docs/DEMO_CHECKLIST.md
  ehr-proxy/drone/adapters.py
  ehr-proxy/drone/routes.py
  ehr-proxy/facial_recognition.py
  ehr-proxy/main.py
  ehr-proxy/requirements.txt
  mobile/android/app/src/main/AndroidManifest.xml
  mobile/android/app/src/main/java/com/mdxvision/AudioStreamingService.kt
  mobile/android/app/src/main/java/com/mdxvision/MainActivity.kt
  mobile/android/app/src/main/java/com/mdxvision/drone/DroneApiClient.kt
  mobile/android/app/src/main/java/com/mdxvision/drone/DroneControlActivity.kt
  mobile/android/app/src/main/res/layout/activity_drone_control.xml
  mobile/dji-bridge/app/build.gradle
  mobile/dji-bridge/app/proguard-rules.pro
  mobile/dji-bridge/app/src/main/AndroidManifest.xml
  mobile/dji-bridge/app/src/main/java/com/mdxvision/djibridge/MainActivity.kt
  mobile/dji-bridge/app/src/main/java/com/mdxvision/djibridge/MdxBridgeApplication.kt
  mobile/dji-bridge/app/src/main/java/com/mdxvision/djibridge/drone/DroneController.kt
  mobile/dji-bridge/app/src/main/java/com/mdxvision/djibridge/service/BridgeServerService.kt
  mobile/dji-bridge/app/src/main/res/layout/activity_main.xml
  mobile/dji-bridge/app/src/main/res/values/colors.xml
  mobile/dji-bridge/app/src/main/res/values/strings.xml
  mobile/dji-bridge/app/src/main/res/values/themes.xml
  mobile/dji-bridge/app/src/main/res/xml/accessory_filter.xml
  mobile/dji-bridge/build.gradle
  mobile/dji-bridge/gradle.properties
  mobile/dji-bridge/gradle/wrapper/gradle-wrapper.properties
  mobile/dji-bridge/local.properties.example
  mobile/dji-bridge/settings.gradle
  web/src/app/dashboard/worklist/page.tsx
  web/src/hooks/useSyncWebSocket.ts
Due: python, web, android

Fix DDX rule-based fallback tests to actually test fallback
  ehr-proxy/tests/test_ddx.py
Due: python

Remove hardcoded credentials from .env.example (Issue #17)
  ehr-proxy/.env.example
Due: python

Add token encryption at rest (Issue #21) - HIPAA compliance
  .gitignore
  ehr-proxy/.ehr_tokens.json
  ehr-proxy/.env.example
  ehr-proxy/main.py
  ehr-proxy/requirements.txt
Due: python

Add input validation and sanitization (Issue #18)
  ehr-proxy/main.py
  ehr-proxy/validators.py
Due: python

fix: handle Cerner 504 timeout in integration tests
  backend/src/test/java/com/mdxvision/integration/CernerFhirIntegrationTest.java
Due: java

feat: Add OAuth2 CSRF protection (Issue #19)
  ehr-proxy/main.py
  ehr-proxy/tests/test_oauth2_csrf.py
Due: python

feat: Add HTTPS enforcement and security headers (Issue #20)
  ehr-proxy/.env.example
  ehr-proxy/main.py
  ehr-proxy/tests/test_https_security.py
Due: python

Fix #18: Add input validation and sanitization (OWASP A03:2021)
  ehr-proxy/main.py
  ehr-proxy/tests/test_input_validation.py
Due: python

Fix #15: Restrict CORS from wildcard to allowed origins
  ehr-proxy/.env.example
  ehr-proxy/main.py
  ehr-proxy/tests/test_cors_security.py
Due: python

Path conditions:
  python: any of: ehr-proxy/, ai-service/
  web: any of: web/src/
  java: any of: backend/src/
  android: any of: mobile/android/
