Repository mdxvision/mdx-vision-enterprise: changes, and which Codecov flags are due for each by the changed paths.
All: python, web, java, android

Improve AI Service test coverage with integration tests
  .gitignore
  ai-service/tests/test_api.py
  ai-service/tests/test_drug_interaction.py
  ai-service/tests/test_notes_service.py
Due: python

Add integration tests for AssemblyAI and voiceprint modules
  ai-service/tests/test_assemblyai_service.py
  ehr-proxy/tests/test_voiceprint_unit.py
Due: python

Add Option B testing strategy: Mock + Real Integration tests
  .github/workflows/ci.yml
  TESTING.md
  ehr-proxy/pytest.ini
  ehr-proxy/tests/conftest.py
  ehr-proxy/tests/test_integration_assemblyai.py
  ehr-proxy/tests/test_integration_ehr.py
  ehr-proxy/tests/test_integration_rag.py
Due: python

Add .gitignore for chroma_db
  ehr-proxy/.gitignore
Due: python

Improve AI Service test coverage with integration tests
  ehr-proxy/tests/test_auth_unit.py
  ehr-proxy/tests/test_rag_unit.py
  ehr-proxy/tests/test_transcription_unit.py
Due: python

Improve test coverage from 73% to 76%
  ehr-proxy/tests/test_auth_unit.py
  ehr-proxy/tests/test_main_endpoints.py
  ehr-proxy/tests/test_rag_unit.py
Due: python

Add documentation for voice intent chaining
  VOICE_INTENTS.md
  mobile/android/app/src/main/java/com/mdxvision/MainActivity.kt
  mobile/android/app/src/test/java/com/mdxvision/MainActivityTest.kt
Due: android

Document multi-intent voice command support
  CLAUDE.md
  FEATURES.md
  MDX_V2_FEATURES.md
  VOICE_COMMANDS.md
  VOICE_INTENTS.md
  mobile/android/app/src/main/java/com/mdxvision/MainActivity.kt
  mobile/android/app/src/test/java/com/mdxvision/MainActivityTest.kt
Due: android

Add conversation state tracking for voice flows
  mobile/android/app/src/main/java/com/mdxvision/ConversationState.kt
  mobile/android/app/src/main/java/com/mdxvision/MainActivity.kt
Due: android

Add investor deck v2 and R6 financial model export
  docs/FINANCIAL-MODEL-R6-FULL-EXPORT.md
  docs/FINANCIAL-MODEL-R6-SUMMARY.md
  web/public/investor-deck-v2.html
Due: none

feat: Complete Wave 1 Jarvis-like AI features (#92-96)
  CLAUDE.md
  FEATURES.md
  JARVIS_FEATURES_PLAN.md
  ehr-proxy/main.py
  mobile/android/app/src/main/java/com/mdxvision/MainActivity.kt
Due: python, android

feat: Add Care Gap Detection (Feature #97 - Jarvis Wave 2)
  CLAUDE.md
  EHR_IMPLEMENTATIONS.md
  FEATURES.md
  ehr-proxy/main.py
  mobile/android/app/src/main/java/com/mdxvision/MainActivity.kt
Due: python, android

feat: Add MEDITECH Expanse integration
  EHR_IMPLEMENTATIONS.md
  ehr-proxy/main.py
Due: python

feat: Add eClinicalWorks FHIR integration
  EHR_IMPLEMENTATIONS.md
  ehr-proxy/main.py
Due: python

feat: Add Veradigm FHIR integration - All 7 EHRs now configured!
  EHR_IMPLEMENTATIONS.md
  ehr-proxy/main.py
Due: python

docs: Add deep dive research on DrChrono & Practice Fusion
  EHR_AMBULATORY_RESEARCH.md
Due: none

docs: Update EHR market coverage with accurate numbers
  EHR_AMBULATORY_RESEARCH.md
  EHR_IMPLEMENTATIONS.md
Due: none

docs: Add healthcare aggregator platforms research
  EHR_AGGREGATOR_PLATFORMS.md
  EHR_IMPLEMENTATIONS.md
Due: none

docs: Add comprehensive pricing strategy with Redox cost analysis
  CLAUDE.md
  PRICING.md
Due: none

docs: Add comprehensive competitive analysis to pricing strategy
  PRICING.md
Due: none

docs: Add exact feature lists for all competitors vs MDx Vision
  PRICING.md
Due: none

docs: Add INVESTOR.md with investor deck content
  CLAUDE.md
  INVESTOR.md
Due: none

docs: Add revenue model tables (100 to 1M users)
  INVESTOR.md
  PRICING.md
Due: none

feat: Epic EHR live integration
  EHR_IMPLEMENTATIONS.md
  ehr-proxy/.env.example
  ehr-proxy/main.py
Due: python

feat: Veradigm EHR live integration with OAuth2
  EHR_IMPLEMENTATIONS.md
  ehr-proxy/.env.example
  ehr-proxy/main.py
Due: python

feat: athenahealth EHR live integration with OAuth2
  EHR_IMPLEMENTATIONS.md
  ehr-proxy/.env.example
  ehr-proxy/main.py
Due: python

feat: NextGen EHR live integration with OAuth2
  EHR_IMPLEMENTATIONS.md
  ehr-proxy/.env.example
  ehr-proxy/main.py
Due: python

feat: eClinicalWorks EHR live integration with OAuth2
  EHR_IMPLEMENTATIONS.md
  ehr-proxy/.env.example
  ehr-proxy/main.py
Due: python

feat: MEDITECH EHR live integration with OAuth2
  EHR_IMPLEMENTATIONS.md
  ehr-proxy/.env.example
  ehr-proxy/main.py
Due: python

docs: update investor and hospital sales docs with 7 EHR integrations
  INVESTOR.md
  web/public/hospital-sales-deck.html
Due: none

Fix Epic OAuth callback with better error handling
  ehr-proxy/main.py
Due: python

feat: EHR switching + token persistence for demos
  ehr-proxy/main.py
  mobile/android/app/src/main/java/com/mdxvision/MainActivity.kt
Due: python, android

docs: update README with 7 EHR integrations and Jan 2025 status
  README.md
Due: none

docs: Minerva AI Clinical Assistant implementation plan
  CLAUDE.md
  CONVERSATIONS.md
  FEATURES.md
  MINERVA.md
Due: none

feat: Minerva AI Clinical Assistant Phase 1 (Feature #97)
  ehr-proxy/main.py
Due: python

feat: Minerva Phase 2 + Planning with Files skill
  .claude/settings.json
  .claude/skills/planning-with-files/SKILL.md
  .claude/skills/planning-with-files/init-planning.sh
  .claude/skills/planning-with-files/templates/findings.md
  .claude/skills/planning-with-files/templates/progress.md
  .claude/skills/planning-with-files/templates/task_plan.md
  CLAUDE.md
  MINERVA.md
  mobile/android/app/src/main/java/com/mdxvision/MainActivity.kt
Due: android

feat: RNNoise noise cancellation for transcription (Feature #98)
  CLAUDE.md
  ehr-proxy/main.py
  ehr-proxy/noise_reduction.py
  ehr-proxy/requirements.txt
Due: python

docs: sync all documentation for Feature #98 and Minerva Phase 1-2
  .claude/settings.json
  CLAUDE.md
  CONVERSATIONS.md
  FEATURES.md
  MINERVA.md
Due: none

feat: Minerva Phase 3 - Proactive Intelligence (Feature #97)
  CLAUDE.md
  MINERVA.md
  ehr-proxy/main.py
  mobile/android/app/src/main/java/com/mdxvision/MainActivity.kt
  task_plan.md
Due: python, android

feat: Vuzix HUD integration for Minerva proactive alerts
  mobile/android/app/src/main/java/com/mdxvision/MainActivity.kt
  mobile/android/app/src/main/java/com/mdxvision/VuzixHudService.kt
  mobile/android/app/src/main/java/com/mdxvision/VuzixHudView.kt
Due: android

Path conditions:
  python: any of: ehr-proxy/, ai-service/
  web: any of: web/src/
  java: any of: backend/src/
  android: any of: mobile/android/
